build --enable_platform_specific_config
build:linux --action_env=BAZEL_LINKLIBS=-l%:libstdc++.a:-lm
build:linux --action_env=BAZEL_LINKOPTS=-static-libgcc
build:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17
build:macos --cxxopt=-std=c++17
build:macos --host_cxxopt=-std=c++17
build:windows --copt=-DNOMINMAX
build:windows --copt=-DWIN32_LEAN_AND_MEAN
build:windows --copt=-utf-8
build:windows --cxxopt=/std:c++17
build:windows --features=static_link_msvcrt
build:windows --host_copt=-DNOMINMAX
build:windows --host_copt=-DWIN32_LEAN_AND_MEAN
build:windows --host_copt=-utf-8
build:windows --host_cxxopt=/std:c++17
