build:darwin --cxxopt=-std=c++17
build:darwin --host_cxxopt=-std=c++17
build:linux --action_env=BAZEL_LINKLIBS=-l%:libstdc++.a:-lm
build:linux --action_env=BAZEL_LINKOPTS=-static-libgcc
build:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17
build:win64 --copt=-DNOMINMAX
build:win64 --copt=-DWIN32_LEAN_AND_MEAN
build:win64 --copt=-utf-8
build:win64 --cxxopt=/std:c++17
build:win64 --features=static_link_msvcrt
build:win64 --host_copt=-DNOMINMAX
build:win64 --host_copt=-DWIN32_LEAN_AND_MEAN
build:win64 --host_copt=-utf-8
build:win64 --host_cxxopt=/std:c++17
