name: Test

on:
  push:
    branches:
      - main

env:
  BAZEL_VERSION: 8.4.2

jobs:
  test:
    runs-on: ubuntu-22.04
    container: debian:bullseye
    steps:
      - uses: actions/checkout@v3
      - name: Mount bazel cache
        uses: actions/cache@v3
        with:
          key: test-bazel-debian-bullseye
          path: ~/.cache/bazel
      - name: Install tools
        run: |
          apt-get update
          apt-get install build-essential curl git -y
          curl -fLo /usr/local/bin/bazel "https://github.com/bazelbuild/bazel/releases/download/$BAZEL_VERSION/bazel-$BAZEL_VERSION-linux-x86_64"
          chmod +x /usr/local/bin/bazel
      - name: Test
        run: |
          bazel test -c opt ...
